<div class="container">
  <div class="col-sm-8">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="coureur">N° Dossard </label>
        <input type="text" id="coureur" class="form-control" name="numDossard" placeholder="Numéro Dossard" ngModel required>
      </div>
      <button class="btn btn-success" [disabled]="f.invalid">Arrivé</button>
    </form>
    <br>
    <div class="form-group" *ngFor="let c of coureurs">
      Nom : {{c.nom}} -- Sexe: {{c.sexe}} -- N° {{c.numDossard}} -- hDepart: {{c.hDepart | date: 'short'}} -- hArrivée: {{c.hArrivee | date: 'short'}}
    </div>
  </div>
</div>
