<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="home">HOME</a></li>
      <li routerLinkActive="active"><a routerLink="arrivee">ARRRIVEE</a></li>
    </ul>
  </div>
</nav>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>


<router-outlet></router-outlet>
