<div class="container">
  <div class="row">
    <div class="col-ms-12">
      <h1>Départ de la course</h1>
      <p>Cliquer ici pour lancer le départ de la course</p>

        <button class="btn btn-primary" (click)="onDepart()">GO !</button>


    </div>
  </div>
</div>
